.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-color: aliceblue;
  height: 100vh;
  font-family: sans-serif;
  color: darkcyan;
}

.list-container {
  list-style-type: none;
}

.table-header {
  display: flex;
  background-color: #f1f5f9;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding: 0px;
}

.table-header-cell {
  color: #334155;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 150px;
  text-align: center;
}

.name-column {
  border-right: none;
}

.separator {
  margin: 0;
  border: 1px solid #cbd5e1;
}

.my-text-container {
  align-self: flex-end;
  padding-right: 50px;

  text-align: center;
  width: 500px;
}

.poori-text {
  color: darkslategray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (min-width: 768px) {
  .addUser {
    background-color: white;
    width: 50%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  }

  .form-login {
    text-align: center;
  }

  .submit-form {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  }

  .addUserForm .inputGroup label {
    margin-top: 10px;
  }

  .label {
    margin-right: 10px;
  }

  .input {
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 10px;
    margin-right: 10px;
  }

  h3 {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    text-transform: uppercase;
    margin-bottom: 30px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .addUser .inputGroup button {
    margin-left: 10px;
  }

  .task-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: darkolivegreen;
    font-weight: bold;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .addUser {
    background-color: white;
    width: 98%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  }

  .inputGroup {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input {
    margin-left: 30px;
    margin-right: 10px;
  }

  .addUser h3 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: darkcyan;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .inputGroup-btn {
    text-align: center;
    margin-top: 10px;
  }

  .task-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
